doctype html
html
  head
    title Anime
    block scripts
    block style
  body
     nav#navbar
        div.symbol
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcShAEFC3LHRJnVrhDbxhdefeY3W5LyHasuhfQ&usqp=CAU", alt="")
          
        ul
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/contact") Contact]
  block body
  div.footer
   | Copyright © 2020 Anime.com
     
   